<ng-container *ngIf="listLicenses$ | async as listLicenses ">
  <div class="container-fluid">
    <div class="py-4">
      <div class=" mb-4  p-0 d-flex justify-content-between  ">
        <div>
          <h2 class="fs-3 p-0 m-0 d-inline">{{title}} </h2>
          <a class=" text-decoration-none fs-6 text-info " title="Add new License" routerLink="/licenses/add">New</a>
        </div>
      </div>
      <!-- *********************Content***************-->
      <div class="table-responsive" *ngIf="listLicenses.length !== 0; else alertEmpty">
        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngFor="let head of headsTable ">{{head | uppercase}}</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <ng-container *ngFor="let license of listLicenses">
              <tr>
    <td>{{license.createdOn}}</td>           
    <td>{{license.activationDate}}</td>           
    <td>{{license.canceledOn}}</td>           
    <td>{{license.deactivationDate}}</td>           
    <td>{{license.from}}</td>           
    <td>{{license.to}}</td>           
    <td>{{license.deviceId}}</td>           
                <td ><a class="text-decoration-none text-info"
                    [routerLink]="['/licenses', license.id]">Detail</a></td>
                <td ><a class="text-decoration-none text-info"
                    [routerLink]="['/licenses', license.id,'edit']">Edit</a>
                </td>
                <td><a class="text-decoration-none text-info"
                    [routerLink]="['/licenses', license.id,'delete']">Delete</a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #alertEmpty>
  <div class="alert alert-warning text-center" role="alert">
    Empty
  </div>
</ng-template>




