<div class="container-fluid">
  <div class=" mb-4  p-0 d-flex justify-content-between  ">
    <div class="pt-4">
      <h2 class="fs-3 p-0 m-0 d-inline">{{title}} </h2>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-9">
      <form [formGroup]="editPrueva2" (ngSubmit)="edit()" class="form-group" novalidate autocomplete="off">
        <div class="row">
          <div class="col-md-4">
            <!------------------------ inputs name --------------------------->
            <div>
              <label for="name" class=" form-label">Name</label>
              <div>
                <input id="name" formControlName="name" class="form-control form-control-sm" type="text"
                  placeholder="Name"                  
                  [ngClass]="{'is-invalid': (fm['name'].touched || fm['name'].dirty) && !fm['name'].valid}">
                <div class="spacer"
                  [ngClass]="{'d-none': (fm['name'].touched || fm['name'].dirty) && !fm['name'].valid }">
                </div>
                <span class="invalid-feedback">
                  <em class="d-block" *ngIf="fm['name']?.hasError('required')">
                    {{validationForms.required}}
                  </em>
                  <em class="d-block" *ngIf="fm['name']?.hasError('minlength')">
                    {{validationForms.minlength}}
                  </em>
                </span>
              </div>
            </div>
            <!------------------------ inputs lastName --------------------------->
            <div>
              <label for="lastName" class=" form-label">Last Name</label>
              <div>
                <input id="lastName" formControlName="lastName" class="form-control form-control-sm" type="text"
                  placeholder="Last Name"                  
                  [ngClass]="{'is-invalid': (fm['lastName'].touched || fm['lastName'].dirty) && !fm['lastName'].valid}">
                <div class="spacer"
                  [ngClass]="{'d-none': (fm['lastName'].touched || fm['lastName'].dirty) && !fm['lastName'].valid }">
                </div>
                <span class="invalid-feedback">
                  <em class="d-block" *ngIf="fm['lastName']?.hasError('required')">
                    {{validationForms.required}}
                  </em>
                  <em class="d-block" *ngIf="fm['lastName']?.hasError('minlength')">
                    {{validationForms.minlength}}
                  </em>
                </span>
              </div>
            </div>
            <!------------------------ inputs age --------------------------->
            <div>
              <label for="age" class=" form-label">Age</label>
              <div>
                <input id="age" formControlName="age" class="form-control form-control-sm" type="number"
                  placeholder="Age"                  
                  [ngClass]="{'is-invalid': (fm['age'].touched || fm['age'].dirty) && !fm['age'].valid}">
                <div class="spacer"
                  [ngClass]="{'d-none': (fm['age'].touched || fm['age'].dirty) && !fm['age'].valid }">
                </div>
                <span class="invalid-feedback">
                  <em class="d-block" *ngIf="fm['age']?.hasError('required')">
                    {{validationForms.required}}
                  </em>
                  <em class="d-block" *ngIf="fm['age']?.hasError('min')">
                    {{validationForms.min}}
                  </em>
                  <em class="d-block" *ngIf="fm['age']?.hasError('max')">
                    {{validationForms.max}}
                  </em>
                </span>
              </div>
            </div>
            <!------------------------ inputs work --------------------------->
            <div>
              <label for="work" class=" form-label">Work</label>
              <div>
                <input id="work" formControlName="work" class="form-control form-control-sm" type="text"
                  placeholder="Work"                  
                  [ngClass]="{'is-invalid': (fm['work'].touched || fm['work'].dirty) && !fm['work'].valid}">
                <div class="spacer"
                  [ngClass]="{'d-none': (fm['work'].touched || fm['work'].dirty) && !fm['work'].valid }">
                </div>
                <span class="invalid-feedback">
                  <em class="d-block" *ngIf="fm['work']?.hasError('required')">
                    {{validationForms.required}}
                  </em>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!------------------------ inputs roll --------------------------->
            <div>
              <label for="roll" class=" form-label">Roll</label>
              <div>
                <input id="roll" formControlName="roll" class="form-control form-control-sm" type="text"
                  placeholder="Roll"                  
                  [ngClass]="{'is-invalid': (fm['roll'].touched || fm['roll'].dirty) && !fm['roll'].valid}">
                <div class="spacer"
                  [ngClass]="{'d-none': (fm['roll'].touched || fm['roll'].dirty) && !fm['roll'].valid }">
                </div>
                <span class="invalid-feedback">
                  <em class="d-block" *ngIf="fm['roll']?.hasError('required')">
                    {{validationForms.required}}
                  </em>
                </span>
              </div>
            </div>
            <!------------------------ inputs gender --------------------------->
            <div>
              <label for="gender" class="form-label">Gender</label>
              <select class="form-select form-select-sm" aria-label="Default select example"
                formControlName="gender"
                [ngClass]="{'is-invalid': (fm['gender'].touched || fm['gender'].dirty) && !fm['gender'].valid }">
                <option disabled selected value="">Select Gender</option>
                <option *ngFor="let opt of genderOptions" [value]="opt">{{opt}}</option>
              </select>
              <div class="spacer"
                [ngClass]="{'d-none': (fm['gender'].touched || fm['gender'].dirty) && !fm['gender'].valid }">
              </div>
              <span class="invalid-feedback">
                <em class="d-block" *ngIf="fm['gender']?.hasError('required')">
                  {{validationForms.required}}
                </em>
              </span>
            </div>
            <!------------------------ inputs option --------------------------->
            <div>
              <label for="option" class="form-label">Option</label>
              <select class="form-select form-select-sm" aria-label="Default select example"
                formControlName="option"
                [ngClass]="{'is-invalid': (fm['option'].touched || fm['option'].dirty) && !fm['option'].valid }">
                <option disabled selected value="">Select Option</option>
                <option *ngFor="let opt of optionOptions" [value]="opt">{{opt}}</option>
              </select>
              <div class="spacer"
                [ngClass]="{'d-none': (fm['option'].touched || fm['option'].dirty) && !fm['option'].valid }">
              </div>
              <span class="invalid-feedback">
                <em class="d-block" *ngIf="fm['option']?.hasError('required')">
                  {{validationForms.required}}
                </em>
              </span>
            </div>
            <!------------------------ inputs email --------------------------->
            <div>
              <label for="email" class=" form-label">Email</label>
              <div>
                <input id="email" formControlName="email" class="form-control form-control-sm" type="email"
                  placeholder="Email"                  
                  [ngClass]="{'is-invalid': (fm['email'].touched || fm['email'].dirty) && !fm['email'].valid}">
                <div class="spacer"
                  [ngClass]="{'d-none': (fm['email'].touched || fm['email'].dirty) && !fm['email'].valid }">
                </div>
                <span class="invalid-feedback">
                  <em class="d-block" *ngIf="fm['email']?.hasError('required')">
                    {{validationForms.required}}
                  </em>
                  <em class="d-block" *ngIf="fm['email']?.hasError('pattern')">
                    {{validationForms.pattern}}
                  </em>
                  <em class="d-block" *ngIf="fm['email']?.hasError('email')">
                    {{validationForms.email}}
                  </em>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!------------------------ inputs suspended --------------------------->
            <div>
              <label class="form-label" for="suspended">
                Suspended
              </label>
              <input class="form-check-input d-block" type="checkbox" id="suspended" formControlName="suspended">
            </div>
          </div>
          <!------------------------ Buttons controls --------------------------->
          <div class="mt-4 col-md-4">
            <button class="btn btn-secondary btn-sm" style="width: 45%;" type="button"
              routerLink='/prueva2s'>Cancel</button>
            <button class="btn btn-primary btn-sm float-end" style="width: 45%;" type="submit"
              [disabled]="!editPrueva2.valid">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
