<ng-container *ngIf="employ$ | async as Employ ">
  <div class="container-fluid">

    <div class="py-4">
      <div class=" mb-4 d-flex justify-content-between  ">
        <h2 class="fs-3 p-0 m-0">{{title}} </h2>
      </div>
      <!-- *********************Content***************-->
      <div class="row p-0 ">
        <div class="col-md-1">
          <div class="fw-bold mb-2" *ngFor="let head of heads">{{head}}</div>
        </div>
        <div class="col-md-11">
          <div class="mb-2">{{Employ.name}}</div>
          <div class="mb-2">{{Employ.lastName}}</div>
          <div class="mb-2">{{Employ.age}}</div>
          <div class="mb-2">{{Employ.work}}</div>
          <div class="mb-2">{{Employ.roll}}</div>
          <div class="mb-2">{{Employ.gender}}</div>
          <div class="mb-2">{{Employ.email}}</div>
          <div>
            <fa-icon *ngIf="Employ.suspended" [icon]="fontIcons.faSquareCheck" class="text-primary"></fa-icon>
            <fa-icon *ngIf="!Employ.suspended" [icon]="fontIcons.faSquare"></fa-icon>
          </div>
        </div>
      </div>
      <div class="mt-4 col-md-4">
        <button routerLink='/employes' class="btn btn-sm btn-secondary me-5 " style="width: 45%">Cancel</button>
        <button (click)="delete()" class="btn btn-sm btn-danger" style="width: 45%">Delete</button>
      </div>
    </div>
  </div>
</ng-container>
