<div class="container-fluid">
  <div class=" mb-4  p-0 d-flex justify-content-between  ">
    <div class="pt-4">
      <h2 class="fs-3 p-0 m-0 d-inline">{{title}} </h2>
    </div>
  </div>
  <div class="card  py-4">
    <div class="card-body">
      <form [formGroup]="addEmploy" (ngSubmit)="add()" class="form-group" novalidate autocomplete="off">
        <div class="row">
          <div class="col-md-6">
            <!------------------------ inputs name --------------------------->
            <div>
              <label for="name" class=" form-label">Name</label>
              <div class=" mb-2">
                <input id="name" formControlName="name" class="form-control form-control-sm" type="text"
                  placeholder="*Name"
                  [ngClass]="{'is-invalid': (addEmploy.get('name')?.touched || addEmploy.get('name')?.dirty) && !addEmploy.get('name')?.valid }">
                <span class="invalid-feedback">
                  <span *ngIf="addEmploy.get('name')?.errors?.['required']">
                    {{validationForms.required}}
                  </span>
                  <span *ngIf="addEmploy.get('name')?.errors?.['minlength']">
                    {{validationForms.minLength}}
                  </span>
                </span>
              </div>
            </div>
            <!------------------------ inputs LastName --------------------------->
            <div>
              <label for="lastName" class="form-label">Last Name</label>
              <div class=" mb-2">
                <input id="lastName" formControlName="lastName" class="form-control form-control-sm" type="text"
                  placeholder="*last Name"
                  [ngClass]="{'is-invalid': (addEmploy.get('lastName')?.touched || addEmploy.get('lastName')?.dirty) && !addEmploy.get('lastName')?.valid }">
                <span class="invalid-feedback">
                  <span *ngIf="addEmploy.get('lastName')?.errors?.['required']">
                    {{validationForms.required}}
                  </span>
                  <span *ngIf="addEmploy.get('lastName')?.errors?.['minlength']">
                    {{validationForms.minLength}}
                  </span>
                </span>
              </div>
            </div>
            <!------------------------ inputs LastName --------------------------->
            <div>
              <label for="age" class="form-label">Age</label>
              <div class=" mb-2">
                <input id="age" formControlName="age" class="form-control form-control-sm" type="number"
                  placeholder="*Age"
                  [ngClass]="{'is-invalid': (addEmploy.get('age')?.touched || addEmploy.get('age')?.dirty) && !addEmploy.get('age')?.valid }">
                <span class="invalid-feedback">
                  <span *ngIf="addEmploy.get('age')?.errors?.['required']">
                    {{validationForms.required}}
                  </span>
                  <span *ngIf="addEmploy.get('age')?.errors?.['max']">
                    {{validationForms.maxNum}}
                  </span>
                </span>
              </div>
            </div>
            <!------------------------ inputs Work --------------------------->
            <div>
              <label for="work" class="form-label">Work</label>
              <div class=" mb-2">
                <input id="work" formControlName="work" class="form-control form-control-sm" type="text"
                  placeholder="*Work"
                  [ngClass]="{'is-invalid': (addEmploy.get('work')?.touched || addEmploy.get('work')?.dirty) && !addEmploy.get('work')?.valid }">
                <span class="invalid-feedback">
                  <span *ngIf="addEmploy.get('work')?.errors?.['required']">
                    {{validationForms.required}}
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!------------------------ inputs Roll --------------------------->
            <div>
              <label for="roll" class="form-label">Roll</label>
              <div class=" mb-2">
                <input id="roll" formControlName="roll" class="form-control form-control-sm" type="text"
                  placeholder="*Roll"
                  [ngClass]="{'is-invalid': (addEmploy.get('roll')?.touched || addEmploy.get('roll')?.dirty) && !addEmploy.get('roll')?.valid }">
                <span class="invalid-feedback">
                  <span *ngIf="addEmploy.get('roll')?.errors?.['required']">
                    {{validationForms.required}}
                  </span>
                </span>
              </div>
            </div>
            <!------------------------ inputs Gender --------------------------->
            <div>
              <label for="gender" class="form-label">Gender</label>
              <select class="form-select mb-2" aria-label="Default select example" formControlName="gender"
                [ngClass]="{'is-invalid': (addEmploy.get('gender')?.touched || addEmploy.get('gender')?.dirty) && !addEmploy.get('gender')?.valid }">
                <option disabled selected value="">Select Gender</option>
                <option *ngFor="let opt of genderOptions" [value]="opt">{{opt}}</option>
              </select>
              <span class="invalid-feedback">
                <span *ngIf="addEmploy.get('gender')?.errors?.['required']">
                  {{validationForms.required}}
                </span>
                <span *ngIf="addEmploy.get('gender')?.errors?.['minlength']">
                  {{validationForms.minLength}}
                </span>
              </span>
            </div>
            <!------------------------ inputs Suspended --------------------------->
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" id="suspended" formControlName="suspended">
              <label class="form-check-label" for="suspended">
                Suspended
              </label>
            </div>
            <!------------------------ Buttons controls --------------------------->
            <div class="mt-4">
              <button class="btn btn-secondary btn-sm" style="width: 45%;" type="button" routerLink='/employes'>ToBack</button>
              <button class="btn btn-primary btn-sm float-end" style="width: 45%;" type="submit" [disabled]="!addEmploy.valid">Add</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
