<ng-container *ngIf="listEmployes$ | async as listEmployes ">
  <div class="container-fluid" >
    <div class="py-4">
      <div class=" mb-4  p-0 d-flex justify-content-between  ">
        <div>
          <h2 class="fs-3 p-0 m-0 d-inline">{{title}} </h2>
          <a class=" text-decoration-none fs-6 text-info " title="Add new device" routerLink="/employes/add">new
            Employ</a>
        </div>
      </div>
      <!-- *********************Content***************-->
      <div class="table-responsive"*ngIf="listEmployes.length !== 0; else alertEmpty">
        <table class="table table-striped">
          <thead>
            <tr>
              <th >{{headsTable.notFitColum}}</th>
              <th class="fit pe-5" *ngFor="let head of headsTable.fitColum">{{head}}</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <ng-container *ngFor="let employe of listEmployes">
              <tr>
                <td >{{employe.name}}</td>
                <td class="fit pe-5">{{employe.lastName}}</td>
                <td class="fit pe-5">{{employe.age}}</td>
                <td class="fit pe-5">{{employe.work}}</td>
                <td class="fit pe-5">{{employe.roll}}</td>
                <td class="fit pe-5">{{employe.gender}}</td>
                <td class="fit pe-5">
                  <fa-icon *ngIf="employe.suspended" [icon]="fontIcons.faSquareCheck" class="text-primary"></fa-icon>
                  <fa-icon *ngIf="!employe.suspended" [icon]="fontIcons.faSquare"></fa-icon>
                </td>
                <td class="fit pe-5">{{employe.email}}</td>
                <td class="fit "><a class="text-decoration-none text-info" [routerLink]="['/employes', employe.id]">Detail</a></td>
                <td class="fit "><a class="text-decoration-none text-info" [routerLink]="['/employes/edit', employe.id]">Edit</a>
                </td>
                <td class="fit pe-3"><a class="text-decoration-none text-info" [routerLink]="['/employes/delete', employe.id]">Delete</a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #alertEmpty>
  <div class="alert alert-warning text-center" role="alert">
    Empty
  </div>
</ng-template>
