<ng-container *ngIf="product$ | async as Product ">
  <div class="container-fluid">

    <div class="py-4">
      <div class=" mb-4 d-flex justify-content-between  ">
        <h2 class="fs-3 p-0 m-0">{{title}} </h2>
      </div>
      <!-- *********************Content***************-->
      <div class="row p-0 ">
        <div class="col-md-1">
          <div class="fw-bold mb-2" *ngFor="let head of heads">{{head}}</div>
        </div>
        <div class="col-md-11">
          <div class="mb-2">{{Product.name}}</div>
          <div class="mb-2">{{Product.lastName}}</div>
          <div class="mb-2">{{Product.age}}</div>
          <div class="mb-2">{{Product.work}}</div>
          <div class="mb-2">{{Product.roll}}</div>
          <div class="mb-2">{{Product.gender}}</div>
          <div class="mb-2">{{Product.option}}</div>
          <div class="mb-2">{{Product.email}}</div>
          <div class="mb-2">{{Product.suspended}}</div>
  
        </div>
      </div>
      <div class="mt-4 col-md-12">
        <button routerLink='/products' class="btn btn-sm btn-secondary me-5 " style="width: 10%">Cancel</button>
        <button [routerLink]="['/products', id, 'edit']" class="btn  btn-sm btn-primary " style="width: 10%">Edit</button>
      </div>
    </div>
  </div>
</ng-container>
