<ng-container *ngIf="listEmployees$ | async as listEmployees ">
  <div class="container-fluid">
    <div class="py-4">
      <div class=" mb-4  p-0 d-flex justify-content-between  ">
        <div>
          <h2 class="fs-3 p-0 m-0 d-inline">{{title}} </h2>
          <a class=" text-decoration-none fs-6 text-info " title="Add new Employee" routerLink="/employees/add">New</a>
        </div>
      </div>
      <!-- *********************Content***************-->
      <div class="table-responsive" *ngIf="listEmployees.length !== 0; else alertEmpty">
        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngFor="let head of headsTable ">{{head | uppercase}}</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <ng-container *ngFor="let employee of listEmployees">
              <tr>
    <td>{{employee.name}}</td>           
    <td>{{employee.lastName}}</td>           
                <td>
                  <img *ngIf="employee.avatar"  [src]="employee.avatar"  width="35">
                  <div *ngIf="!employee.avatar"><fa-icon [icon]="fontIcons.faCamera" ></fa-icon></div>
                </td>
                <td>
                  <img *ngIf="employee.thumbnail"  [src]="employee.thumbnail"  width="35">
                  <div *ngIf="!employee.thumbnail"><fa-icon [icon]="fontIcons.faCamera" ></fa-icon></div>
                </td>
                <td>
                  <div *ngIf="employee.contract"><fa-icon [icon]="fontIcons.faFile" ></fa-icon></div>
                </td>
                <td>
                  <div *ngIf="employee.cv"><fa-icon [icon]="fontIcons.faFile" ></fa-icon></div>
                </td>
                <td ><a class="text-decoration-none text-info"
                    [routerLink]="['/employees', employee.id]">Detail</a></td>
                <td ><a class="text-decoration-none text-info"
                    [routerLink]="['/employees', employee.id,'edit']">Edit</a>
                </td>
                <td><a class="text-decoration-none text-info"
                    [routerLink]="['/employees', employee.id,'delete']">Delete</a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #alertEmpty>
  <div class="alert alert-warning text-center" role="alert">
    Empty
  </div>
</ng-template>




